section#download(class="flex justify-center py-8")
		div(class="flex flex-col justify-center gap-6")
			a(href="./results/result.png" class="block p-2 mx-auto text-blue-600 underline w-fit" download=image) Скачать сертификат
			table#table(class="hidden sm:block")
				tr(class="*:p-2 *:border-2 *:border-slate-300")
					td=table.num
					td=table.data
					td=table.name
					td=table.status
					td=table.sum
					td 0
					td=table.sum
					td Артём
			button#btn(data-clipboard-target="#table" class="block p-2 mx-auto text-white bg-blue-500 rounded-lg w-fit") Скопировать данные для таблицы
script(src="./main.js")
